@yellow :#d7e423 ;
@Red : #a83232 ;
@Green :#21bd2e ;

.margenes (@top:0px , @bottom:0px) {
 margin-top: @top;
 margin-bottom:@bottom ;
}

.footer {
    background-color: @yellow;
    margin-top: 20px;
    
}

.address {
    font-size: 10px;
}

.jumbotron{
    background-color: @yellow;    
}
body { 
    padding-top: 50px; 
}



.info {
    padding-right: 25px;
    .margenes(30px,0px);
}

.footercol{
    margin-top: 10px;
}

.hotel-card {
    width: 21rem; 
    margin: 10px;  
     
}

.hotel-card  button {
    width: 90%;  
    .margenes(0px,10px);
     
}
.button-container{
    justify-content: center;
}

.address p {
    margin: 0;
}

.Redes{
    margin-top: 20px ;
}
.bannerimg{
    padding-top: 20px;
}

.principal-information{
    padding-top: 20px;
}

