$yellow :#d8d80ece;
$red:#e71717 ;
$green:#21bd2e;

@mixin margenes ($top , $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.footer {
    background-color: $yellow;
    margin-top: 20px;
    
}

.address {
    font-size: 10px;
}

.jumbotron{
    background-color: $yellow;    
}
body { 
    padding-top: 50px; 
}



.info {
    padding-right: 25px;
    @include margenes(30px,0);
}

.footercol{
    margin-top: 10px;
}

.hotel-card {
    width: 21rem; 
    margin: 10px;  
     
}

.hotel-card  button {
    width: 90%;  
    @include margenes(0,10px);
     
}
.button-container{
    justify-content: center;
}

.address p {
    margin: 0;
}

.Redes{
    margin-top: 20px ;
}
.bannerimg{
    padding-top: 20px;
}

.principal-information{
    padding-top: 20px;
}

