.footer {
  background-color: #d8d80ece;
  margin-top: 20px;
}

.address {
  font-size: 10px;
}

.jumbotron {
  background-color: #d8d80ece;
}

body {
  padding-top: 50px;
}

.info {
  padding-right: 25px;
  margin-top: 30px;
  margin-bottom: 0;
}

.footercol {
  margin-top: 10px;
}

.hotel-card {
  width: 21rem;
  margin: 10px;
}

.hotel-card button {
  width: 90%;
  margin-top: 0;
  margin-bottom: 10px;
}

.button-container {
  justify-content: center;
}

.address p {
  margin: 0;
}

.Redes {
  margin-top: 20px;
}

.bannerimg {
  padding-top: 20px;
}

.principal-information {
  padding-top: 20px;
}

/*# sourceMappingURL=styles.css.map */
