.footer {
    background-color: lightgreen;
    margin-top: 20px;
}

.address {
    font-size: 10px;
}

.jumbotron{
    background-color: lightgreen;
}


body { 
    padding-top: 50px; 
}

.red {
    font-size: 10px;
}

.info {
    padding-right: 25px;
    margin-top: 30px;
}

.footercol{
    margin-top: 10px;
}

.hotel-card {
    flex: 1 150px;    
    padding: 10px 15px ;    
}

.hotel-card  button {
    width: 100%;   
}

.address p {
    margin: 0;
}

.Redes{
    margin-top: 20px ;
}